# === Python (Flask) ===
backend/__pycache__/
backend/*.py[cod]
backend/env/
*.pyc
*.pyo
*.pyd
*.log

# Ignore virtual environments anywhere
**/env/
**/venv/

# dependencies
node_modules/
.vercel
.env.txt

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env*.local

# typescript
*.tsbuildinfo


# === Common ===
*.DS_Store
Thumbs.db
.env
.env.*

# === VS Code ===
.vscode/

dist
dist-ssr
*.local
count.txt
.nitro
.tanstack

# === Secrets ===
secrets/youtube_cookies.txt
backend/secrets/youtube_cookies.txt